
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #111;
  color: white;
}
header {
  padding: 1rem;
  background-color: #222;
  text-align: center;
}
#searchInput {
  margin-top: 10px;
  padding: 0.5rem;
  width: 80%;
  max-width: 400px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.movie-card {
  width: 150px;
  text-align: center;
  background: #333;
  padding: 10px;
  border-radius: 10px;
}
.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
