body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

header {
  background-color: #008c3f;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.logo span {
  color: orange;
  font-style: italic;
}

.search {
  font-size: 20px;
  cursor: pointer;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  background-color: #008c3f;
  padding: 10px;
  justify-content: center;
  gap: 10px;
}

.categories button {
  background-color: orange;
  border: none;
  padding: 10px 15px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.description {
  background-color: #008c3f;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}

.movie-card {
  width: 150px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.movie-card p {
  margin-top: 5px;
  font-weight: bold;
}